  
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Lekton:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

/*
    font-family: 'La Belle Aurore', cursive;
    font-family: 'Lekton', sans-serif; 

*/

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    }

  body { 
    margin: 0;
    background-color: #141215;
    color: white;
  }

  /*SELECTION*/
  ::selection {
    background-color: #E5B8F4;
    color: #2D033B;
}
    
  /*HEADER*/
 .header {
   font-family: 'Lekton', sans-serif; 
   margin: 12px 0 0 0;
   border-top: 1px solid #efefef;
   border-bottom: 1px solid #efefef;
   position: absolute;
   z-index: 1;
   background-color: transparent;
   padding: 20px 10px;
   width: 100vw;
  }
 
 .header a {
   color: white;
   text-align: center;
   padding: 12px;
   text-decoration: none;
   font-size: 18px; 
   line-height: 25px;
   border-radius: 4px;
   overflow-x: hidden;
 }
 
 .header a.logo {
   font-size: 25px;
   font-weight: bold;
 }
 
 .header .welcome-user {
    color: #fff;
    font-weight: bold;
 }


 .header a:hover,
 .header a:active {
  color: #fff;
  text-shadow:
    /* White glow */
    0 0 2px #fff,
    0 0 3px #fff,
    0 0 4px #fff,
    0 0 100px rgb(201, 92, 240),
    0 0 200px rgb(201, 92, 240),
    0 0 200px rgb(201, 92, 240),
    0 0 200px rgb(201, 92, 240),
    0 0 250px rgb(201, 92, 240); 
}

.logged-in {
  height:26px;
}

.welcome-user {
  font-weight: 700;
}

/* BUTTONS */


.view-button,
.submit-button {
  display: block;
  width: 40%;
  margin: 1rem auto;
  background-color: transparent;
  padding: 0.5rem 2rem;
  border: 1px solid #ffffff;
  color: #ffffff; 
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
}

.view-button:hover,
.submit-button:hover {
  text-decoration: none;
  color: #141215; 
  background-color: #ffffff;
}

/* LOGIN AND SIGNUP MODALS */
.modal-content {
  border-radius: 15px;
}

.modal-body {

  background-image: url('../img/modal1.png');
}

.modal-body input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
}

.input-group-text {
  background-color: transparent;
  border: none;
}
