@import url('https://fonts.googleapis.com/css2?family=Lekton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100&family=Montserrat:wght@300&family=Nunito+Sans:wght@200&family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Crimson+Text&family=Judson&family=Libre+Baskerville&family=Lora&family=Sumana&family=Tinos&display=swap');

.f1 {
  font-family: 'Martian Mono', monospace;
}

.f2 {
font-family: 'Montserrat', sans-serif;
}

.f3 {  
font-family: 'Roboto Mono', monospace;
}

.f4 {
font-family: 'Nunito Sans', sans-serif;
}

.f5 {
  font-family: 'Cantata One', serif;
}

.f6 {
  
font-family: 'Crimson Text', serif;
}

.f7 {  
font-family: 'Libre Baskerville', serif;
}

.f8 {
  font-family: 'Lora', serif;
}

.f9 {
  font-family: 'Sumana', serif;
}

.f10 {
font-family: 'Tinos', serif;
}

.f11 {
  font-family: 'Judson', serif;
}

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    }

  body { 
    overflow-x: hidden;
    margin: 0;
    background-color: #141215;
    color: white;
  }

  /*SELECTION*/
  ::selection {
    background-color: #E5B8F4;
    color: #2D033B;
}
    
  /*HEADER*/
 .header {
   font-family: 'Lekton', sans-serif; 
   margin: 12px 0 0 0;
   border-top: 1px solid #efefef;
   border-bottom: 1px solid #efefef;
   position: absolute;
   z-index: 1;
   background-color: transparent;
   padding: 20px 10px;
   width: 100vw;
  }
 
 .header a {
   color: white;
   text-align: center;
   padding: 12px;
   text-decoration: none;
   font-size: 18px; 
   line-height: 25px;
   border-radius: 4px;
   overflow-x: hidden;
 }
 
 .header a.logo img {
    width: 150px;
 }
 
 .header .welcome-user {
    color: #fff;
    font-weight: bold;
 }


 .header a:hover,
 .header a:active {
  color: #fff;
  text-shadow:
    /* White glow */
    0 0 2px #fff,
    0 0 3px #fff,
    0 0 4px #fff,
    0 0 100px rgb(201, 92, 240),
    0 0 200px rgb(201, 92, 240),
    0 0 200px rgb(201, 92, 240),
    0 0 200px rgb(201, 92, 240),
    0 0 250px rgb(201, 92, 240); 
}

.logged-in {
  height:26px;
}

.welcome-user {
  font-weight: 700;
}

/* BUTTONS */
.submit-button {
  display: block;
  width: 40%;
  margin: 1rem auto;
  background-color: transparent;
  padding: 0.5rem 2rem;
  border: 1px solid #ffffff;
  color: #ffffff; 
  font-size: 0.7rem;
  text-decoration: none;
  text-transform: uppercase;
}

.submit-button:hover {
  text-decoration: none;
  color: #141215; 
  background-color: #ffffff;
}

/* LOGIN AND SIGNUP MODALS */
.modal-content {
  border-radius: 15px;
  position: relative;
}

.close i {
  position: absolute;
  top: 5%;
  right: 7%;
  color: #fff;
}

.close i:hover {
  transform: scale(1.1);
}

.modal-body {
  background: linear-gradient(109.8deg, rgba(62, 5, 116, 0.5) -5.2%, rgba(41, 14, 151, 0.5) -5.2%, rgba(216, 68, 148, 0.5) 103.3%) ,url('../img/modal2.gif');
  background-size: contain;
  backdrop-filter: blur(50px);
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9c9999;
  text-align: center;
}

.modal-body input::placeholder {
  color: #fff;
  letter-spacing: .4rem;
  text-transform: uppercase;
  font-size: 0.5rem;
}

.input-group {
  width: 200px;
}

.input-group-text {
  background-color: transparent;
  border: none;
}

.modal-body .btn {
  margin-top: 2rem;
  padding: 0.4rem 2rem;
  background-color: #e21d76;
  color:#fff;
  transition: all ease 200ms;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.2rem;
}

.modal-body .btn:hover {  
  background-color: #751642;
}

.modal-message {
  position: absolute;
  bottom: 5%;
  left: 10%;
  text-transform: uppercase;
}

.modal-message a:hover {
  color: #9c9999;
}

.modal-title i {
  color: #fff;
  text-shadow: 3px 3px 6px #ea4c89, -3px -3px 6px #ea4c89;
  font-size: 4rem;
}

/* pulsing animation*/
@-webkit-keyframes pulse {
  0% { box-shadow:0 0 8px #ea4c89, inset 0 0 8px #ea4c89; }
  50% { box-shadow:0 0 16px #ea4c89, inset 0 0 14px #ea4c89; }
  100% { box-shadow:0 0 8px #ea4c89, inset 0 0 8px #ea4c89; }
}

.inner {
  background-color:transparent;
  margin: 4rem;
  width:100px;
  height:100px;
  border-radius:50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px #ea4c89, inset 0 0 8px #ea4c89;
  animation: pulse 2s linear 1s infinite;
}

.inner p {
  display:block;
  text-align: center;
  line-height: 100px;
  font-family:sans-serif;
  font-weight:100;
  font-size:24px;
  color: #ea4c89;
  text-shadow: 0 0 2px #ea4c89;
}

/*FOOTER*/
.footer-ticketory span {
  border: 1px solid #686666;
  padding: 0.2rem 2rem;
  letter-spacing: 0.5rem;
}

.footer .social {
  text-align: right;
}

footer .social a {
  padding: 0.2rem 1rem;
}

.text-small {
  font-size: 0.8rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover, a:focus {
  text-decoration: none;
}

.form-control {
  background: #212529;
  border-color: #545454;
}

.form-control:focus {
  background: #212529;
}

footer {
  background: #141215;
}