  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    }

  body { 
    margin: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
    
  /*HEADER*/
 .header {
  margin: 12px 0 0 0;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
   position: absolute;
   z-index: 1;
   background-color: transparent;
   padding: 20px 10px;
   width: 100vw;
  }
 
 .header a {
   color: white;
   text-align: center;
   padding: 12px;
   text-decoration: none;
   font-size: 18px; 
   line-height: 25px;
   border-radius: 4px;
   overflow-x: hidden;
 }
 
 .header a.logo {
   font-size: 25px;
   font-weight: bold;
 }
 
 .header .welcome-user {
    color: #fff;
    font-weight: bold;
 }


 .header a:hover {
  color: #fff;
  text-shadow:
    /* White glow */
    0 0 2px #fff,
    0 0 3px #fff,
    0 0 4px #fff,
    0 0 100px rgb(201, 92, 240),
    0 0 200px rgb(201, 92, 240),
    0 0 200px rgb(201, 92, 240),
    0 0 200px rgb(201, 92, 240),
    0 0 250px rgb(201, 92, 240); 
}
