@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap');

.user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100vw;
  background: linear-gradient(109.8deg, rgb(62, 5, 116) -5.2%, rgb(41, 14, 151) -5.2%, rgb(216, 68, 148) 103.3%);
}

.user-profile .row{
  width: 60vw;
}

.user-profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  outline: 3px double #ffffff33;
}

.user-profile-pic img {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
}

.user-details {
  border-radius: 15px;
  background-color: #ffffff20;
  color: rgb(238, 233, 233);
  backdrop-filter: blur(20px);
  padding:  1rem;
}

.neo {  
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #ffffff33;
  display: flex;
  flex-direction: row;
  justify-content: center;  
  padding: 1rem 3rem;
}

.user-name {
  font-size: 2rem;
  font-family: 'Cantata One', serif;
}

.user-email,  .user-phone {
  font-family: 'Nunito Sans', sans-serif;
}

.social a {
  padding: 0.4rem 2rem 0 0;
}

.social i {
  font-size: 1.1rem;
  color: #fff;
  text-shadow: 3px 3px 6px #ea4c89, -3px -3px 6px #ea4c89, -6px 3px 6px #ea4c89, 3px -3px 6px #ea4c89;
}

.social a:hover i {
  text-shadow: 6px 6px 8px #ea4c89, -6px -6px 8px #ea4c89, -8px 6px 8px #ea4c89, 8px -6px 8px #ea4c89;
}

.concert-tickets,
.sport-tickets {
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.container-title {
    width: 60vw;
    margin: 0 auto 4rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Nunito Sans', sans-serif;
}

.ticket {
    border-bottom: 1px dashed #fff;
    background-color: #ffffff20;
    backdrop-filter: blur(20px);
    height: 200px;
    width: 60vw;
    margin-bottom: 1rem;
    position: relative;
    margin: 0 auto;
}

.concert-tickets .ticket:last-child,
.sport-tickets .ticket:last-child {
    border-bottom: none;
}

.ticket-image {
    height: 100%;
    padding: 0;
}

.ticket-image img, .user-profile-pic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.ticket-details {
    padding: 1.5rem;
    text-transform: uppercase;
}

.event-name {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family: 'Judson', serif;
  }

.ticket-id {
  font-family: 'Martian Mono', monospace;
}

.ticket-tag {
    color: grey;
    font-size: 0.5rem;
}

.event-date, .event-time {
font-family: 'Roboto Mono', monospace;
font-size: 1rem;
}

.venue-details {
    text-align: right;
    font-size: 0.6rem;
    font-family: 'Martian Mono', monospace;
  }

.ticket-barcode {    
    text-align: right;
    font-family: 'Libre Barcode 39', cursive;
    font-size: 3.5rem;
}

.delete-ticket  {
    position: absolute;
    top: 4%;
    right: 3%;
    font-size: 1.6rem;
    color: #fff;
}

#delete-form input {
  opacity: 0;
  background-color: #ffffff33;
  color: #ffffff;
  backdrop-filter: blur(8px);
  padding: 0 0.5rem 0.1rem;
  border-radius: 5px;
  border: none;
  transition: opacity 0.3s ease-in-out;
}

.ticket:hover #delete-form input {
  opacity: 1;
}

#delete-form input:hover {
  background-color: #ffffff70;
}


/*NO TICKET BUTTON*/
.no-ticket {
    width: 60vw;
    margin: 0 auto;
}

.no-ticket a {
    text-decoration: none;  
}

.butn:link,
.butn:visited {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  background: linear-gradient(109.8deg, rgb(62, 5, 116) -5.2%, rgb(41, 14, 151) -5.2%, rgb(216, 68, 148) 180.3%);
  padding: 1rem 2.5rem;
  height: 4rem;
  width: 20rem;

  margin-right: 13px;
  border-radius: 4px;
  border: none;
  color: #fff;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.butn::before {
  background: #fff;
  content: "";
  height: 155px;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  width: 50px;
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
}
.butn::after {
  background: #fff;
  content: "";
  height: 20rem;
  opacity: 0;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 8rem;
}
.butn__new::before {
  left: -50%;
}

.butn__new::after {
  left: -100%;
}

.butn:hover,
.butn:active {
  transform: translateY(-3px);
  color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.butn__new:hover::before {
  left: 120%;
  opacity: 0.5s;
}

.butn__new:hover::after {
  left: 200%;
  opacity: 0.6;
}
.butn span {
  z-index: 20;
}


