@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Extended+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+128&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Expanded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
.f1 {
  font-family: 'Tangerine', cursive;
}
.f2 {
  font-family: 'Bungee Inline', cursive;
}
.f3 {
  font-family: 'Londrina Outline', cursive;
}
.f4 {
  font-family: 'Libre Barcode 39 Extended Text', cursive;
}
.f5 {
  font-family: 'Wire One', sans-serif;
}
.f6 {
  font-family: 'Libre Barcode 128', cursive;
}
.f7 {
  font-family: 'Anonymous Pro', monospace;
}
.f8 {
  font-family: 'Uncial Antiqua', cursive;
}
.f9 {
  font-family: 'Stint Ultra Expanded', cursive;
}
.f10 {
  font-family: 'Zen Tokyo Zoo', cursive;
}
.f11 {
  font-family: 'Holtwood One SC', serif;
}
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/*MARQUEE TEXT*/
.marquee {
  margin-top: 5rem;
  font-size: 1rem;
  font-family: 'Cutive', serif;
}

@media (max-width: 800px) {
  .marquee {
  margin-top: 10rem;
}
}

/*EVENT LANDING*/
.event-landing-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  padding-bottom: 5rem;
}

.landing-caption {
  font-family: 'Eczar', serif; 
  position: absolute;
  top: 40%;
  left: 10%;
}

.event-landing-image {
  margin-top: 2rem;
  width: 50vw;
  height: 80vh;
}

.event-landing-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*CARDS*/
.content {
  min-height: 450px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.content:hover {
    transform: scale(1.03);
  }



.image-container {
  height: 250px;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content-container  {
  padding: 0.6rem 1rem;
}

.content-container p {
  margin-bottom: 0;
}

.concert-name {
  font-size: 1.4rem;
}

.date {
  font-size: 1.7rem;
}

.time {

}

