@import url('https://fonts.googleapis.com/css2?family=Cutive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eczar&display=swap');

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

/*MARQUEE TEXT*/
.marquee {
  margin-top: 5rem;
  font-size: 1rem;
  font-family: 'Cutive', serif;
}

@media (max-width: 800px) {
  .marquee {
  margin-top: 10rem;
}
}

/*EVENT LANDING*/
.event-landing-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  padding-bottom: 5rem;
}

.landing-caption {
  font-family: 'Eczar', serif; 
  position: absolute;
  top: 40%;
  left: 10%;
}

.event-landing-image {
  margin-top: 2rem;
  width: 50vw;
  height: 80vh;
}

.event-landing-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*CARDS*/
.content {
  min-height: 450px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.content:hover {
    transform: scale(1.03);
  }



.image-container {
  height: 250px;
}

.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content-container  {
  padding: 0.6rem 1rem;
}

.content-container p {
  margin-bottom: 0;
}

.concert-name {
  font-size: 1.4rem;
}

.date {
  font-size: 1.7rem;
}

.time {

}

