/*FONTS*/
.event-detail-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url('../img/event_detail_bg1.png');
    background-size: cover;
}

.main {
    background-color: #ffffff33;
    backdrop-filter: blur(20px);
    width: 60vw;
    padding: 1rem;
    border-radius: 15px;
    height: 60vh;
}

.event-details {
    height: 100%;    
    padding: 1.5rem;
    text-transform: uppercase;
}

.event-name {
    font-family: 'Judson', serif;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.event-date {
    font-size: 1.2rem;
}

.event-date, .event-time {
    font-family: 'Roboto Mono', monospace;
}

.venue-details {
    text-align: right;
    font-size: 0.6rem;
    font-family: 'Martian Mono', monospace;
}

#booking-details {
    font-family: 'Martian Mono', monospace;
}

.ticket-tag {
    color: rgb(169, 165, 165);
    font-size: 0.5rem;
}

.event-quantity input {
    width: 100px;
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
}

.event-image {
    height: 100%;
    border-radius: 15px;
}

.event-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}


/* BUTTONS */
.submit-button {
    display: block;
    margin: 1rem auto;
    background-color: transparent;
    padding: 0.5rem 2rem;
    border: 1px solid #ffffff;
    color: #ffffff; 
    font-size: 0.7rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.6rem;
    letter-spacing: 0.3rem; 
    font-family: 'Martian Mono', monospace;
    text-transform: uppercase;
  }
  
  .submit-button:hover {
    background-color: #ffffff33;
    border: none;
    color: #fff;
  }
