.landing-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.container-item{
    height: 100vh;
    width: 50%;
    position: relative;    
    background-size: cover;
    background-position: center;
}

.sport-container {
    background-image: url('../img/sport3.jpg');
}

.concert-container {
    background: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url('../img/concert3.jpg');
}

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
  }
  
  .container-item:hover .overlay {
    display: block;
    background: rgba(70, 27, 78, 0.8);
  }
  
  .title {
    position: absolute;
    width: 500px;
    left: 40px;
    top: 400px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    text-align: left;
    text-transform: uppercase;
    color: white;
    z-index: 1;
    transition: top .5s ease;
  }
  
  .container-item:hover .title {
    top: 25%;
  }

  .container-text {
   font-family: 'Judson', serif;
   font-size: 1.2rem;
    position: absolute;
    display:none;
  }

  .container-item:hover .container-text {
    color: white;
    display: block;
    width: 500px;
    top: 35%;
    left: 40px;
  }
  
  .glass-button-container {
    position: absolute;
    width: 500px;
    left:40px;
    top: 60%;
    text-align: left;
    opacity: 0;
    transition: opacity .35s ease;
  }
  
  .container-item:hover .glass-button-container {
    opacity: 1;
  }

  .glass-button {
    display: inline-block;
    padding: 24px 32px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    outline: none;
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
  }

  .glass-button:hover {
    background-color: transparent;
    color: #fff;
    text-decoration: none
  }
  