
.info-container{
    background-color: rgb(126, 17, 176);
    height: 100vh;
    /* height: 70%; */
    width: 50%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left: 25%;
    margin-right: 25%;
}
.child{
    height: 250;
    width: 50%;
    position: relative;
}
.img-child{
    background-image: url("mi-try.jfif");
    background-size:95%;
    background-repeat: no-repeat;
    background-position: center;
}

.content-child{
    text-align: center;
    position: relative;
    padding-top: 40%;
} 

.title-div{
    padding-bottom: 30%;
}